@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an easy to use and simple contact manager. Navigate to Contacts to get started!</p>
</div>
